
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-default: #313030;
  --color-primary: #941F20;
  --color-secondary: #F0F0F0;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Montserrat';
  color: var(--color-default);
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: bold;
}

/*--------------------------------------------------------------
# Top bar icons
--------------------------------------------------------------*/

.top-bar{
  margin: 0PX;
  color: #941F20;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}

.top-bar h1{
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.top-bar .icon .bi-facebook, .bi-tiktok, .bi-youtube, .bi-twitter, .bi-linkedin{
  padding: 5px;
  font-size: 22px;
}

.top-bar .icon .bi-cart-fill, .bi-person-fill{
  padding: 5px;
  font-size: 30px;
}

.top-bar a{
  margin-right: 12px;
  border-radius: 5px;
}

.top-bar a:hover{
  background-color: #941F20;
  color: #fff;
}

@media (max-width: 900px) {
  .top-bar{
    display: none !important;
  }
} 

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
    padding: 0px;
    margin: 0px;
    background-color: #941F20;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 15px 30px;
    margin: 0 10px 0 10px;
    font-size: 22px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
  
  .navbar-nav .nav-link.active{
    color: #fff;
    font-weight: bold;
  }

  .dropdown-menu{
    background-color: rgba(255, 255, 255, 0.7);
  }

  .dropdown-item{
    color: #941F20 !important;
  }
  
  @media (min-width: 992px) {
    .flex-izquierda{
      justify-content: center;
    }
    .navbar .icon{
      display: none !important;
    }
  }

  @media (max-width: 992px) {
    .navbar a,
    .navbar a:focus {
      padding: 5px;
      font-size: 30px;
      justify-content: center;
    }

    .dropdown-menu a{
      font-size: 20px;
    }
  }

  /*--------------------------------------------------------------
  # Banner inicio
  --------------------------------------------------------------*/

  #ImaIni {
    width: 100%;
    height: 100%;
    background: url("../img/MagneticaROJA.png") center center;
    background-color: #f0f0f0;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 0;
    margin-bottom: -10px;
  }
  
  @media (min-width: 1024px) {
    #ImaIni{
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 1024px),
  (max-height: 768px) {
    #ImaIni{
      margin-bottom: -150px;
      height: 50vh;
    }
  }
  
  @media (max-width: 768px) {
    #ImaIni{
      height: 50vh;
    }
  }
  
  @media (max-height: 700px) {
    #ImaIni{
      width: 100%;
      height: 100vh;
    }
  }
  
  /*--------------------------------------------------------------
# Video seccion (Todo lo que necesitas)
--------------------------------------------------------------*/

.video-seccion{
  background-color: #941F20;
  color: #fff;
}

.bg-video-example{
  background-color: #892629;
}

.video-seccion .video-textbox{
  padding: 5%;
}

.video-seccion h1{
  padding-bottom: 20px;
}