/* Section Button */
.section-button {
  border: none;
  color: #f0f0f0;
  padding: 7px 25px;
  background-color: #941f20;
  border-radius: 20px;
  margin-top: 20px;
}
/* End Section Button */

/* "Necesitas una web si" section  */
.redesSociales {
  display: flex;
  height: 20%;
}

.redesSociales-video {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif img {
  width: 500px;
}

.redesSociales-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: start;
  padding-left: 60px;
}

.redesSociales-info .redesSociales-info-title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #941f20;
}
.redesSociales-info p {
  font-family: "Montserrat", sans-serif;
  line-height: 120%;
  margin-bottom: 0px;
  max-width: 100%;
  font-size: large;
}

.circle {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 50px;
  color: #941f20;
  border: 4px solid #941f20;
}

.redesSociales-info-titles:hover .circle{
  color: #f0f0f0;
  background: #941f20;
  transition: all .5s;
}

.redesSociales-info-titles h5 strong {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  color: #941f20;
}
.redesSociales-info-titles div p {
  font-family: "Montserrat", sans-serif;
  line-height: 120%;
  margin-bottom: 20px;
  max-width: 100%;
  font-size: small;
}

@media (max-width: 1366px) {
  .redesSociales-info {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: start;
  }
}

@media (max-width: 980px) {
  .redesSociales-info {
    padding-left: 0px;
    padding: 0px 50px;
    margin-top: 10%;
  }
  .redesSociales-video img {
    width: 100%;
  }  
}


/* End "Necesitas una web si" section  */

/* Landing pages section  */
.packs {
  display: flex;
  flex-direction: column;
  height: 20%;
}
.packs .packs-artcl {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.packs-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: start;
}
:root {
  --rojo: #941f20;
  --color-default: black;
}

.packs-info .packs-info-item .descuento {
  width: 100px;
  position: absolute;
  top: -30px;
  left: 600px;
}

@media (max-width: 1366px) {
  .packs-info .packs-info-item .descuento {
    position: absolute;
    top: -30px;
    left: 500px;
  }
}

@media (max-width: 1192px) {
  .packs-info .packs-info-item .descuento {
    position: absolute;
    top: -30px;
    left: 400px;
  }
}

@media (max-width: 940px) {
  .packs-info .packs-info-item .descuento {
    position: absolute;
    top: -30px;
    left: 650px;
  }
}

@media (max-width: 766px) {
  .packs-info .packs-info-item .descuento {
    position: absolute;
    top: -30px;
    left: 460px;
  }
}

@media (max-width: 536px) {
  .packs-info .packs-info-item .descuento {
    position: absolute;
    top: -30px;
    left: 450px;
  }
}

@media (max-width: 350px) {
  .packs-info .packs-info-item .descuento {
    position: absolute;
    top: -30px;
    left: 240px;
  }
}

/*--------------------------------------------------------------
  # Our packs-infos Section
--------------------------------------------------------------*/
.packs-info {
    padding: 5px;
}

.packs-info container {
    padding: 0;
}

.packs-info .packs-info-item {
  padding: 40px;
  padding-bottom: 15px;
  background: #fff;
  height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
  transition: all .4s;
  cursor: pointer;
  border-radius: 0 !important;
}

.packs-info-item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .6);
}

.packs-info .packs-info-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.packs-info .packs-info-item .icon i {
  color: var(--color-default);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.packs-info .packs-info-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #eeeeee;
  border-radius: 50px;
  z-index: 1;
  top: 10px;
  right: -20px;
  transition: 0.3s;
}
.packs-info .packs-info-item h3 {
  color: var(--color-default);
  font-weight: 700;
  padding-bottom: 8px;
  font-size: 30px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.packs-info .packs-info-item p {
  font-family: "Montserrat";
  line-height: 120%;
  margin-bottom: 20px;
  max-width: 100%;
  font-size: large;
}

.packs-info .packs-info-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--rojo);
  padding: 5px 10px;
  border-radius: 20px;
}

.packs-info .packs-info-item:hover .icon:before {
  background: var(--rojo);
}

.packs-info .packs-info-item:hover h3 {
  border-color: var(--rojo);
}

/*--------------------------------------------------------------
# Our Services Section
--------------------------------------------------------------*/
.services {
  padding: 60px 0px;
}

.services .service-item {
  background: #fff;
  min-width: 200px;
  max-height: 600px;
  margin: 20px;
  min-height: 330px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
  transition: all .4s;
  cursor: pointer;
  color: black;
}

.services .service-item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .6);
}

.service-item img {
  width: 100%;
  background: #941f20;
}

.service-item .service-info {
  padding: 10px 15px 5px 15px;
}

.services .service-item h3 {
  color: var(--color-default);
  font-weight: 700;
  margin: 0 0 5px 0;
  font-size: 20px;
  position: relative;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

.services .service-item p {
  line-height: 10px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.button-cargar {
  padding: 10px 40px;
  border-radius: 20px;
  background: #941f20;
  color: #fff;
  border: solid 1px #941f20;
  transition: all .5s;
}
.button-cargar:hover{
  background: #fff;
  color: #941f20;
}

@media (max-width: 800px) {
  .services .service-item {
    margin-bottom: 0px;
    min-height: 550px;
  }
}