
/*--------------------------------------------------------------
# Portfolio slider
--------------------------------------------------------------*/


.portfolio-card {
  background-color: #ffffff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .2);
}
.portfolio-card:hover {
  transition: 0.4s;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
}
.portfolio-card img {
  width: 100%;
  height: 16rem;
}
.portfolio-card .portfolio-text-content {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.portfolio-card .portfolio-title{
    font-weight: bold !important ;
    font-size: 24px;
    padding-top: 20px;
    padding-left: 20px;
}
.portfolio-card .portfolio-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    height: 6rem;
}
.portfolio-lightbox {
  text-decoration: none;
  color: #313030;
}
.portfolio-lightbox:hover {
  color: #313030;
}
.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #F0F0F0;
  opacity: 1;
  border: 1px solid #941F20;
  margin-bottom: 4vh;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #941F20;
}
@media (min-width: 1400px) {
  .portfolio-card .portfolio-text {
    height: 6rem;
  }
}
.espaciado {
  margin-top: 15vh;
}

.behind-cameras-slider {
  margin-bottom: 20vh;
}

/*--------------------------------------------------------------
# Testimonio section en diseño grafico
--------------------------------------------------------------*/
.testimonios-section {
  text-align: center;
}
.testimonios-section p {
  max-width: 55rem;
  margin: auto;
  font-size: 21px;
  margin-bottom: 30px;
}
.text-center img {
  width: 100%;
}
@media (max-width: 2000px) {
  .img-container {
    padding: 30px !important;
  }
}
@media (max-width: 600px) {
  .faq .faq-list {
    padding: 0 !important;
  }
}

.behind-cameras-img {
  width: 100%;
  height: 14rem;
  overflow: hidden;
}

.behind-cameras-img img {
  width: 100%;
  height: 14rem;
}

.zoom-imagen {
  transition: transform .3s; 
}

.zoom-imagen:hover {
  transform: scale(1.05); 
}

@media (max-width: 1300px){
  .behind-cameras-img {
    width: 100%;
    height: 13rem;
    overflow: hidden;
  }
}

@media (max-width: 1300px){
  .behind-cameras-img img {
    width: 100%;
    height: 13rem;
    overflow: hidden;
  }
}